<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rid %><br />
    <%= f.number_field :rid %>
  </div>
  <div class="field">
    <%= f.label :rname %><br />
    <%= f.text_area :rname %>
  </div>
  <div class="field">
    <%= f.label :rcalorie %><br />
    <%= f.text_field :rcalorie %>
  </div>
  <div class="field">
    <%= f.label :rrating %><br />
    <%= f.text_field :rrating %>
  </div>
  <div class="field">
    <%= f.label :rcategory %><br />
    <%= f.text_area :rcategory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
