%h1 Search Food and Recipes

%table
  %thead

  %tbody
  - @foods.each do |food|
    %tr
      %td= food.name
      %td= food.energy

= form_tag foods_path, :method => :post do
  = label :recipe, :ingre, 'Calories Needed'
  = text_field :recipe, :ingre
  = submit_tag 'Search for Recipe'

= link_to "Back", what2eat_homepages_path, :method => :get
%table
  %thead
    %tr
      %th Women
      %th Men

  %tbody
    %tr
      %td= image_tag('http://www.chartsgraphsdiagrams.com/HealthCharts/images/calorie-requirement-women.png')
      %td= image_tag('http://www.chartsgraphsdiagrams.com/HealthCharts/images/calorie-requirement-men.png')

