%h1 Search results

%h2= @ingredient

/ %h2= @detail

/ %h3= @results['recipe']["serving_sizes"]["serving"]["calories"]
/ %h3= @results


/ %h3= @recipe_name
/ %h4= @recipe_id
/ %h4= @recipe_calories
/ %h4= @str_cate
/ %h4= @description

/ - @results['recipe']['directions'].each do |description|
/ 	%h3= 

/ %table
/ 	%thead
/ 		%tr
/ 			%th Name
/ 			%th Discription
/ 			%th Image
/ 			%th Id
/ 			%th More Information

/ 	%tbody
/ 	- @detail.each do |recipe|
/ 		%tr
/ 			%td= recipe['recipe_name']
/ 			%td= recipe['recipe_description']
/ 			%td= image_tag(recipe['recipe_image'])
/ 			%td= recipe['recipe_id']
/ 			%td= link_to "details", recipe['recipe_url']

/ %h3= @array[1]['recipe']["recipe_description"]
/ %h3= image_tag(@array[1]['recipe']["recipe_images"]["recipe_image"])
/ - n = 0
/ - for i in 1..10
/ 	%h3= @array[n]['recipe']["recipe_description"]
/ 	- if @array[n]['recipe']["recipe_images"] != nil
/ 		%h3= image_tag(@array[n]['recipe']["recipe_images"]["recipe_image"])
/ 	- n = n + 1

%table
	%thead
		%tr
			%th Name
			%th Discription
			%th Rating
			%th KCalories/serving
			%th image

	%tbody
	- n = 0
	- @recommend_recipe.each do |recipe|
		- ele = @array[n]
		%tr
			%td= link_to recipe.rname, recipe_path(recipe)
			- if ele['recipe'] != nil
				%td= ele['recipe']["recipe_description"]
			- else
				%td No discription
			%td= recipe.rrating
			%td= recipe.rcalorie
			- if ele['recipe']["recipe_images"] != nil
				%td= image_tag(ele['recipe']["recipe_images"]["recipe_image"], :size => '153x110')
			- else
				%td= image_tag("http://www.changefood.org/wp-content/uploads/2013/09/feel-healthier-bodymind-fresh-food-better-than-canned_32-150x150.jpg", :size => '153x110')
		- n = n + 1

= link_to "Back", foods_path, :method => :get











