%h1 Search results

%h2= @address

/ %h3= @results

%table
	%thead
		%tr
			%th
			%th Name
			%th Rating
			%th Address
			/ %th Phone
			%th More Information

	%tbody
	- @results.businesses.each do |restaurant|
		%tr
			%td= image_tag(restaurant.image_url)
			%td= restaurant.name
			%td= restaurant.rating
			%td= restaurant.location.display_address
			/ %td= restaurant.display_phone
			%td= link_to "details", restaurant.url


= link_to "Back", restaurants_path, :method => :get, class: "btn btn-xs edituser"