%h1 Search results

%h2= @address

%h2= @results.total

/ %h3= @results

%table
	%thead
		%tr
			%th Name
			%th Address
			%th Phone
			%th Rating
			%th More Information

	%tbody
	- @results.businesses.each do |restaurant|
		%tr
			%td= restaurant.name
			%td= restaurant.location.display_address
			%td= restaurant.display_phone
			%td= restaurant.rating
			%td= link_to "details", restaurant.url


= link_to "Back", restaurants_path, :method => :get